.cardBest{

    width: 250px !important;
    height: 347px !important;
}
.imgBest{
    background: #f8f8f8;
    
}.imgBest img{
    width: 250px !important;
    height: 250px !important;

}
.offer{
    text-decoration: line-through;
    color: #929292;
}