
@import url("https://fonts.googleapis.com/css2?family=Anton");
.bgHeader {
  background: #f3f3f3;
}
.mainImg {
  height: 570px !important;
}
.borderImage {
  background: red;
  height: 34px;
  width: 34px;
  margin: 3px;
}
.imm {
  z-index: 2;
}
.conImage {
  width: 418px;
}
.bor-1 {
  top: 32px;
  background: transparent;
  border-top: 14px solid rgb(255, 255, 255);
  border-left: 14px solid rgb(255, 255, 255);
  border-right: 14px solid rgb(255, 255, 255);
  height: 218px;
  z-index: 1;
  width: 338px;
  right: 147px;
}
.bor-3 {
  top: 165px;
  background: transparent;
  border-left: 14px solid rgb(255, 255, 255);
  border-right: 14px solid rgb(255, 255, 255);
  border-bottom: 14px solid rgb(255, 255, 255);
  height: 359px;
  z-index: 2;
  width: 338px;
  right: 147px;
}
.intro {
  padding-left: 122px;
}
.intro h1 {
  font-weight: bold;
}
.shopNow {
  margin-top: 3rem;
}

.best-container {
  width: fit-content !important;
  top: 383px;
  right: 474px;
}
.best,
.E {
  color: #ffffff;
  font-size: 11rem;
  font-family: "Anton", sans-serif;
}
.E-container {
  width: fit-content !important;
  top: 383px;
  right: -20px;
}

@media screen and (max-width:1399px) {
  .bor-1{
    right:98px;
  }
  .bor-3{

    right: 98px;
  }
}
@media screen and (max-width:1199px) {
  .bor-1{
    right:56px;
  }
  .bor-3{

    right: 56px;
  }
}