.con-stories {
    width: 250px ;
    height: 250px ;
}
.iconsInsta{
    width: 250px ;
    height: 250px ;
    background: #85858578;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.iconsInsta svg{
   cursor: pointer;
}